<p>&nbsp;</p>
<p>{% if message %}</p>
<p>{{ message }}</p>
<p>{% endif %}</p>
<p>&nbsp;</p>
<form action="" method="post">
<blockquote>
<p><strong><label for="par_1">Плотность </label></strong><input name="par_1" type="text" /></p>
<p><strong><label for="par_2">Модуль упругости </label></strong><input name="par_2" type="text" /></p>
<p><strong><label for="par_3">Количество отвердителя </label></strong><input name="par_3" type="text" /></p>
<p><strong><label for="par_4">Содержание эпоксидных групп </label></strong><input name="par_4" type="text" /></p>
<p><strong><label for="par_5">Температура вспышки </label></strong><input name="par_5" type="text" /></p>
<p><strong><label for="par_6">Поверхностная плотность </label></strong><input name="par_6" type="text" /></p>
<p><strong><label for="par_7">Потребление смолы </label></strong><input name="par_7" type="text" /></p>
<p><strong><label for="par_8">Угол нашивки </label></strong><input name="par_8" type="text" /></p>
<p><strong><label for="par_9">Шаг нашивки </label></strong><input name="par_9" type="text" /></p>
<p><strong><label for="par_10">Плотность нашивки </label></strong><input name="par_10" type="text" /></p>
</blockquote>
<p><input type="submit" /></p>
</form>